* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: #111827;
  --second-background-color: #1f2937;
  --main-text-color: rgb(255, 255, 255);
  --error-text-color: #ff524f;
  --spinner-color: rgb(255, 255, 255);
  --btn-delete-color: #d63a37;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
}

input,
textarea,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
  width: fit-content;
  height: fit-content;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.Navbar {
  background: var(--second-background-color);
  padding: 16px 80px;
  display: flex;
  justify-content: space-between;
}

.Navbar__right-side {
  display: flex;
  gap: 15px;
}

.Navbar__right-side a:hover {
  color: #488eff;
}

.Navbar__right-side .log-out-button:hover {
  color: var(--error-text-color);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero__hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.hero__hero-content p {
  font-size: 3rem;
  font-weight: 600;
}

.hero__hero-content-buttons {
  margin-top: 50px;
  display: flex;
  gap: 15px;
}

.hero__hero-content-buttons a {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hero-content-buttons__sign-in {
  color: rgb(255, 255, 255);
  background: #004e98;
}

.hero-content-buttons__log-in {
  color: rgb(255, 255, 255);
  background: green;
}

.sign-up {
  display: flex;
  justify-content: center;
  padding: 6vh 3vw;
  height: fit-content;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--second-background-color);
  min-width: 300px;
  padding: 3rem 2rem;
  height: fit-content;
  max-width: 450px;
  width: 100%;
}

.sign-up-form__title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 15px;
}

.sign-up-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sign-up-form__error {
  color: var(--error-text-color);
  font-weight: 600;
  text-align: center;
  width: 0px;
  min-width: 100%;
}

.sign-up-form__submit-button {
  color: inherit;
  padding: 5px 10px;
  background: #004e98;
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.log-in {
  display: flex;
  justify-content: center;
  padding: 6vh 3vw;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--second-background-color);
  padding: 3rem 2rem;
  min-width: 300px;
  height: fit-content;
}

.log-in-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.log-in-form__title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 15px;
}

.log-in-form__submit-button {
  color: inherit;
  padding: 5px 10px;
  background: #004e98;
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.log-out-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: inherit;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 35px;
}

.articles-container__article-preview {
  position: relative;
  background-color: var(--second-background-color);
  min-height: 250px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 24px 25px;
  border-radius: 10px;
}

.article-preview__delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.article-preview a:hover {
  color: #3b85fd;
}

.article-preview__title {
  display: inline-flex;
  font-size: 2rem;
  font-weight: 900;
}

.article-preview__state--published,
.article-content__state--published {
  color: rgb(76, 252, 76);
}

.article-preview__state--not-published,
.article-content__state--not-published {
  color: var(--error-text-color);
}

.article-content__privacy-edit-button {
  background: var(--main-background-color);
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.article-preview__content {
  flex: 1;
  font-size: 1.6rem;
}

.article-preview__date {
  justify-self: end;
  height: fit-content;
  align-self: end;
}

.article {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 45px;
  padding: 5%;
}

.article-content {
  display: grid;
  gap: 15px;
  grid-template-rows: 1.7rem auto auto auto;
  background: var(--second-background-color);
  padding: 5%;
  border-radius: 10px;
  position: relative;
}

.article-content__author {
  font-size: 2rem;
}

.article-content__title {
  font-size: 2.5rem;
}

.article-content__content {
  width: 100%;
}

.article-content__date {
  font-size: 1.4rem;
}

.display-flex-wrap-gap10px {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.article-content__editButton {
  background: none;
  border: none;
  color: var(--main-text-color);
  cursor: pointer;
  height: fit-content;
}

.article-content__checkButton {
  color: rgb(76, 252, 76);
  background: none;
  border: none;
  cursor: pointer;
  height: fit-content;
  margin-left: 5px;
}

.article-content__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.article-content__article-save-controller {
  display: flex;
  justify-self: center;
  gap: 15px;
}

.article-save-controller__button {
  padding: 5px;
  background: none;
  color: white;
  font-size: 1.7rem;
  border-radius: 7px;
  cursor: pointer;
}

.article-save-controller__button--reset {
  color: var(--error-text-color);
  border: 2px solid var(--error-text-color);
}

.article-save-controller__button--save {
  background: #0054dd;
  border: none;
}

.article-save-controller__button--save:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.article-content__error {
  color: var(--error-text-color);
  justify-self: center;
}

.delete-article-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(27 27 27 / 70%);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-article-modal__content {
  background: var(--second-background-color);
  border-radius: 15px;
  box-shadow: 0 0 8px 0 var(--error-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2% 5%;
  gap: 30px;
  align-items: center;
  max-width: 420px;
  min-width: 300px;
  margin: 5%;
}

.delete-article-modal__message {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.message__highlighted {
  color: var(--error-text-color);
}

.delete-article-modal__modal-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.modal-buttons {
  color: var(--main-text-color);
  background: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
}

.modal-buttons--cancel {
  background: var(--btn-delete-color);
}

.modal-buttons--delete-article {
  background-color: #0054dd;
}

.delete-article-modal__networ-status {
  align-self: center;
}

.delete-article-modal__error-message {
  color: var(--error-text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.article__comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--second-background-color);
  border-radius: 10px;
  padding: 40px 0px;
  gap: 25px;
  place-content: center;
}

.comments-container__comment {
  border: 2px solid #4d4ccf;
  border-radius: 5px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.comment__header {
  display: flex;
  gap: 10px;
}

.comments-container__not-comments {
  font-size: 2rem;
  font-weight: 700;
}

.delete-article-button {
  background: none;
  border: none;
  color: var(--main-text-color);
  cursor: pointer;
}

.delete-article-button:hover::before,
.delete-article-button:focus::before {
  content: 'Delete Article';
  top: 20%;
  transform: translateX(-100%);
  position: absolute;
  width: 11ch;
}
.comment__delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.comment__delete-button button {
  background: none;
  border: none;
  color: var(--main-text-color);
  cursor: pointer;
}

.comment__delete-button button:hover::before,
.comment__delete-button button:focus::before {
  content: 'Delete Article';
  top: 20%;
  transform: translateX(-100%);
  position: absolute;
  width: 11ch;
}

.comment__delete-button svg {
  width: 30px;
  height: 30px;
}

.comment__fetch-status {
  align-self: center;
}
.comment__delete-error-message {
  color: var(--error-text-color);
}

.delete-article-button svg {
  width: 30px;
  height: 30px;
}

.new-article {
  display: flex;
  justify-content: center;
  padding: 4% 0px;
}

.new-article-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  background: var(--second-background-color);
  padding: 30px;
  gap: 30px;
  border-radius: 10px;
  height: fit-content;
  margin: 0 10px;
}

.new-article-form__privacy-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.new-article-form__label {
  display: flex;
  flex-direction: column;
}

.new-article-form__content {
  width: 100%;
  height: 160px;
}

.new-article-form__error-message,
.new-article-form__post {
  color: var(--error-text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.new-article-form__post {
  display: flex;
  justify-content: center;
}

.new-article-form__submit {
  width: fit-content;
  align-self: center;
  padding: 10px;
  background-color: #0054dd;
  color: var(--main-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-loading-spinner {
  position: fixed;
  left: 50vw;
  top: 50vh;
  width: 36px;
  height: 36px;
}

.loading-spinner {
  width: 30px;
  height: 30px;
}

.spinner {
  border: 4px solid var(--spinner-color);
  border-left-color: transparent;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.checkboxprivacity {
  opacity: 0;
}

.checkboxprivacity + span::after {
  content: 'unpublished';
  color: var(--error-text-color);
  background: var(--main-background-color);
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.checkboxprivacity:checked + span::after {
  content: 'published';
  color: rgb(76, 252, 76);
  background: var(--main-background-color);
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.hamburger-button {
  display: none;
  background: none;
  color: white;
  border: none;
}

.hamburger-menu {
  display: none;
  background: rgb(27 27 27 / 70%);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.hamburger-button svg {
  width: 27px;
  height: 27px;
}

.hamburger-menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  background: var(--second-background-color);
  padding-top: 80px;
  gap: 15px;
  position: relative;
}

.hamburger-menu__close-button {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  color: var(--main-text-color);
  border: none;
  background: none;
}

.hamburger-menu__close-button svg {
  width: 27px;
  height: 27px;
}

@media (max-width: 600px) {
  .Navbar__right-side {
    display: none;
  }

  .hamburger-button {
    display: inline-block;
  }

  .hamburger-menu {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
  }
  .Navbar {
    padding: 10px 35px;
    justify-content: space-between;
    align-items: center;
  }
  .articles-container {
    grid-template-columns: 1fr;
  }
}
