* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: #111827;
  --second-background-color: #1f2937;
  --main-text-color: rgb(255, 255, 255);
  --error-text-color: #bf0603;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--main-background-color);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
  width: fit-content;
  height: fit-content;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.Navbar {
  background: var(--second-background-color);
  padding: 16px 80px;
  display: flex;
  justify-content: space-between;
}

.Navbar__right-side {
  display: flex;
  gap: 15px;
}

.Navbar__right-side a:hover {
  color: #3b85fd;
}

.Navbar__right-side .log-out-button:hover {
  color: var(--error-text-color);
}

.sign-up {
  display: flex;
  justify-content: center;
  height: fit-content;
  align-self: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--second-background-color);
  width: 37%;
  padding: 15px 0px;
}

.sign-up-form__title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 15px;
}

.sign-up-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sign-up-form__error {
  color: var(--error-text-color);
  font-weight: 600;
}

.sign-up-form__submit-button {
  color: inherit;
  padding: 5px 10px;
  background: #004e98;
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.log-in {
  display: flex;
  justify-content: center;
  height: fit-content;
  align-self: center;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--second-background-color);
  width: 25%;
  padding: 15px 0px;
}

.log-in-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.log-in-form__title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 15px;
}

.log-in-form__submit-button {
  color: inherit;
  padding: 5px 10px;
  background: #004e98;
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.log-out-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: inherit;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 35px;
}

.articles-container__article-preview {
  position: relative;
  background-color: var(--second-background-color);
  height: 250px;
  display: grid;
  grid-template-rows: 1ch 1ch auto 1ch;
  gap: 25px;
  flex-direction: column;
  padding: 24px 25px;
  border-radius: 10px;
}

.article-preview__delete-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.article-preview a:hover {
  color: #3b85fd;
}

.article-preview__title {
  font-size: 2rem;
  font-weight: 900;
}

.article-preview__state--published,
.article-content__state--published {
  color: rgb(76, 252, 76);
}

.article-preview__state--not-published,
.article-content__state--not-published {
  color: var(--error-text-color);
}

.article-content__privacy-edit-button {
  background: var(--main-background-color);
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.article-preview__date {
  justify-self: end;
}

.article {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 45px;
  padding: 5%;
}

.article-content {
  display: grid;
  gap: 15px;
  grid-template-rows: 1.7rem auto auto auto;
  background: var(--second-background-color);
  padding: 5%;
  border-radius: 10px;
  position: relative;
}

.article-content__author {
  font-size: 2rem;
}

.article-content__title {
  font-size: 2.5rem;
}

.article-content__content {
  width: 100%;
}

.article-content__date {
  font-size: 1.4rem;
}

.display-flex-wrap-gap10px {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.article-content__editButton {
  background: none;
  border: none;
  color: var(--main-text-color);
  cursor: pointer;
  height: fit-content;
}

.article-content__checkButton {
  color: rgb(76, 252, 76);
  background: none;
  border: none;
  cursor: pointer;
  height: fit-content;
  margin-left: 5px;
}

.article-content__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.article-content__article-save-controller {
  display: flex;
  justify-self: center;
  gap: 15px;
}

.article-save-controller__button {
  padding: 5px;
  background: none;
  color: white;
  font-size: 1.7rem;
  border-radius: 7px;
  cursor: pointer;
}

.article-save-controller__button--reset {
  color: var(--error-text-color);
  border: 2px solid var(--error-text-color);
}

.article-save-controller__button--save {
  background: #0054dd;
  border: none;
}

.article-save-controller__button--save:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.article-content__error {
  color: var(--error-text-color);
  justify-self: center;
}

.delete-article-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(27 27 27 / 70%);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-article-modal__content {
  background: var(--second-background-color);
  width: 50%;
  height: 40%;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 0px var(--error-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  gap: 30px;
}

.delete-article-modal__message {
  font-size: 1.7rem;
  font-weight: 600;
}

.message__highlighted {
  color: var(--error-text-color);
}

.delete-article-modal__modal-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.modal-buttons {
  color: var(--main-text-color);
  background: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
}

.modal-buttons--cancel {
  background: var(--error-text-color);
}

.modal-buttons--delete-article {
  background-color: #0054dd;
}

.delete-article-modal__error-message {
  color: var(--error-text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.article__comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--second-background-color);
  border-radius: 10px;
  padding: 40px 0px;
  gap: 25px;
  place-content: center;
}

.comments-container__comment {
  border: 2px solid #4d4ccf;
  border-radius: 5px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.comment__header {
  display: flex;
  gap: 10px;
}

.comments-container__not-comments {
  font-size: 2rem;
  font-weight: 700;
}

.delete-article-button {
  background: none;
  border: none;
  color: var(--main-text-color);
  cursor: pointer;
}

.comment__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.comment__delete-button button {
  background: none;
  border: none;
  color: var(--main-text-color);
  cursor: pointer;
}

.comment__delete-button svg {
  width: 30px;
  height: 30px;
}

.comment__fetch-status {
  align-self: center;
}
.comment__delete-error-message {
  color: var(--error-text-color);
}

.delete-article-button svg {
  width: 30px;
  height: 30px;
}

.new-article {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.new-article-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background: var(--second-background-color);
  padding: 30px;
  gap: 15px;
  border-radius: 10px;
}

.new-article-form__privacy-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.new-article-form__label {
  display: flex;
  flex-direction: column;
}

.new-article-form__content {
  width: 350px;
  height: 160px;
}

.new-article-form__error-message,
.new-article-form__post {
  color: var(--error-text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.new-article-form__submit {
  width: fit-content;
  align-self: center;
  padding: 10px;
  background-color: #0054dd;
  color: var(--main-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
